{# Inspired by https://dev.to/ljcdev/hamburger-css-no-js-2dfa #}

{# @param navpages [page] #}
{# @param localizedUrls [{url, name}] #}

{# TODO: Check for accessibility, included here for demo purposes only #}

<ul class="absolute top-0 left-0 z-50  hidden target:flex flex-col flex-nowrap space-y-4 items-center -translate-y-full target:translate-y-0 transition w-full py-6 bg-brand-500 text-white"
    id="mobile-navbar">
    
    <li class="text-xl font-semibold pb-4">{{ site.title }}</li>

    {% for navpage in navpages %}
        <li>{{ navpage.link }}</li>
    {% endfor %}

    {% for localizedUrl in localizedUrls %}
        <li><a href="{{ localizedUrl.url }}">{{ localizedUrl.name }}</a></li>
    {% endfor %}

    <a class="cursor-pointer absolute top-0 right-5 bg-brand-500" aria-label="{{ 'Close'|t }}" href="#">
        {% include '_icons/close.svg' %}
    </a>
</ul>


{# Hamburger menu #}
<a class="md:hidden cursor-pointer absolute top-5 right-5" aria-label="{{ 'Open'|t }}" href="#mobile-navbar">
    {% include '_icons/menu.svg' %}
</a>
