<header class="relative -mx-4 mb-24 flex flex-wrap items-center justify-between">

    <a class="flex px-4 font-semibold" href="{{ site.url }}">
        {{ site.title }}
    </a>

    <nav class="pl-4">

        <div class="flex flex-wrap space-x-8">

            {% for item in pages.listed %}
                <a class="{{ item.isOpen ? 'underline  underline-offset-8' }}" href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}

            {% include '@templates/partials/social.twig' %}

        </div>

    </nav>
</header>
