{# @param block Block #}

{% from '_macros/lib.twig' import img %}

{% set image = block.image.toFile() %}
{% set style = style ?? block.style.split() %}

{% set wide = 'wide' in style %}
{% set fullHeight = 'fullHeight' in style %}

{% if transform is not defined %}
    {% set transform = wide ?
        {width: 960, height: fullHeight ? null : 440} :
        {width: 768, height: fullHeight ? null : 350}
    %}
{% endif %}

{% if image %}
    {# Apply negative margin for images with 'wide' style on larger screens #}
    <figure class="{{ wide ? 'lg:-mx-24' }}">

        {# Adjust transforms based on block attributes #}
        {# TODO: Check srcsets #}
        {{ img(image, {
            transform
        }) }}

        {# Add caption if one of caption or image copyright is present #}
        {% if block.caption.isNotEmpty or image.copyright.isNotEmpty %}
            <figcaption class="flex justify-between">
                <div>
                    {{ block.caption }}
                </div>
                {% if image.copyright.isNotEmpty %}
                    {# Make that a bit smaller #}
                    {# We don't use an overlay here because having an overlay on the image
                    and a caption below looks messed up. #}
                    <div class="text-sm text-brand-500">({{ 'Photo'|t }}: {{ image.copyright }})</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}