{% apply spaceless %}

    {#
    This is the main layout template that all pages can extend and overwrite twig blocks as needed
    #}

    {#
    Set variables for layout, so that
        * we enable pages that are not backed by a kirby content
        * let templates overwrite default page values
    #}

    {# let templates overwrite title #}
    {% set title = _globals.get('title') ?? page.title ?? 'Untitled'|t %}

    {# let templates overwrite featured image, use global images by default #}
    {% set featuredImage = _globals.get('featuredImage') ?? page.featuredImage.toFile ?? site.featuredImage.toFile %}

    {# let templates decide which page width to use #}
    {% set mainWidth = _globals.get('mainWidth') ?? 'md' %}
    {% set widthClasses = {
        md: 'max-w-screen-md mx-auto',
        xl: 'max-w-screen-xl mx-auto'
    } %}

{% endapply -%}
<!DOCTYPE html>

<html lang="{{ kirby.language.code }}" dir="{{ kirby.language.direction }}" style="overflow-y: scroll;">
{# The style will make sure there is always a vertical scrollbar, so that there no anoying horizontal shifts for short pages #}

{% include '_layouts/partials/head.twig' %}

{% block body %}

    <body class="bg-brand-50 text-prose px-4">

    {% block header %}

        {# let screen reader users skip page heading #}
        <a href="#content" class="sr-only focus:not-sr-only">{{ 'Jump to content'|t }}</a>

        {# Use semantic html wherever possible #}
        <header class="mb-8 max-w-screen-xl mx-auto">

            {# The top bar #}
            {% include '_layouts/partials/nav.twig' %}

            {#
            We output common things like featuredImage / title in the main template
            in order to enforce a consistent layout across all pages.
            #}

            {% block featured %}
                {#
                Always code defensive!
                Values may be missing, even if custom fields are 'required' in their field layout.
                Think about previews!
                #}
                {% if featuredImage %}
                    {% include '_layouts/partials/featured-image.twig' with {
                        image: featuredImage
                    } only %}
                {% endif %}
            {% endblock %}

        </header>
    {% endblock %}

    {% block main %}
        {# Apply classes form the lookup table #}
        <main id="content" class="{{ widthClasses[mainWidth] }} mt-8">
            {% block title %}
                <div class="mb-8">
                    {# Responsive font sizes for different screen widths #}
                    <h1 class="text-4xl sm:text-5xl md:text-6xl sm:leading-tight md:leading-tight">{{ title }}</h1>
                    {% if page is defined and page.subheading.isNotEmpty %}
                        <div class="mt-8 text-2xl">
                            {{ page.subheading }}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {#
            Output blocks from the content builder.
            Templates that overwrite this block can pull that in using 'parent()'
            #}
            {% block content %}
                {% if page is defined %}
                    {% if page.bodyContent.isNotEmpty %}
                        {% include '_partials/blocks.twig' with {
                            blocks: collect(page.bodyContent.toBlocks())
                        } only %}
                    {% endif %}
                {% endif %}
            {% endblock %}

        </main>
    {% endblock %}

    {% block footer %}

        {# Previous/Next navigation #}
        {% if _globals.get('pageNav') %}
            <div class="max-w-screen-xl mx-auto">
                {% include '_layouts/partials/page-nav.twig' with {
                    page,
                    prev: _globals.get('prev'),
                    next: _globals.get('next')
                } only %}
            </div>
        {% endif %}

        {# The page footer #}
        {% include '_layouts/partials/footer.twig' %}
    {% endblock %}

    </body>
{% endblock %}
</html>

